/* style.css */

html, body { height: 100%; }
  
body {
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    /* centre sketch horizontally. */
    justify-content: center;

    /* centre sketch vertically. */
    align-items: center;
}

/* the canvas is 800px square */
#sketch {
    width: 800px;
    height: 800px;
}

.caption { 
    margin: 50px;
    width: 400px;
}