/* style.css */

html, body { height: 100%; }
  
body {
    margin: 0;
    display: flex;

    /* centre sketch horizontally. */
    justify-content: center;

    /* centre sketch vertically. */
    align-items: center;
}

.caption { 
    margin: 50px;
}